In [2]:
import pandas as pd #make API calls with python
import requests #allows us to store results of API call cleanly
import json #helps manipulate json
import csv # helps with csv files
from bs4 import BeautifulSoup
# Census API Key
# Go here https://api.census.gov/data/key_signup.html?message=need-terms
apiKey = "e3a3dbad3edfa4d96cb59f65931694b311565c63"

# Here you can find a complete list of variables for the census 
    #https://api.census.gov/data.html

In [3]:
#https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_001E&for=county%*:*&in=state:*
indicators = requests.get("https://api.census.gov/data/2019/acs/acs1?get=NAME,group(B01001)&for=county:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
indicatorsAllJSON = indicators.json()
dfAll = pd.DataFrame(indicatorsAllJSON)
headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
new_df  = pd.DataFrame(dfAll.values[1:], columns=headers) # now start at row 0 through the whole dataframe and rename the column headers the variable you just instantiated above 
new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
new_df4 = new_df4[[
"NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E", "B01001_007E", "B01001_008E",
 "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E", "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E",
 "B01001_017E", "B01001_018E", "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
 "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E", "B01001_031E", "B01001_032E",
 "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E", "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E",
 "B01001_041E", "B01001_042E", "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
 "B01001_049E", "state","county"]]
new_df4['fips'] = new_df4['state'].astype(str) + new_df4['county'].astype(str)
variabledf = pd.read_html('https://api.census.gov/data/2019/acs/acs5/variables.html')
variabledf = variabledf[0] # grab the first element of the html which is the actual table
variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
filterRows2 =filterRows[1:50] # # exclude the MSA names  and geoid columns for the filtering of the rows
filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the 
newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
newColumnNames.append('state') # add the originoal column names back onto this list in the last position
newColumnNames.append('county') # add the originoal column names back onto this list in the last position
newColumnNames.append('fips')  # add the originoal column names back onto this list 
new_df4.columns = newColumnNames # Replace th
new_df4

,NAME,Estimate!!Total:,Estimate!!Total:!!Male:,Estimate!!Total:!!Male:!!Under 5 years,Estimate!!Total:!!Male:!!5 to 9 years,Estimate!!Total:!!Male:!!10 to 14 years,Estimate!!Total:!!Male:!!15 to 17 years,Estimate!!Total:!!Male:!!18 and 19 years,Estimate!!Total:!!Male:!!20 years,Estimate!!Total:!!Male:!!21 years,...,Estimate!!Total:!!Female:!!62 to 64 years,Estimate!!Total:!!Female:!!65 and 66 years,Estimate!!Total:!!Female:!!67 to 69 years,Estimate!!Total:!!Female:!!70 to 74 years,Estimate!!Total:!!Female:!!75 to 79 years,Estimate!!Total:!!Female:!!80 to 84 years,Estimate!!Total:!!Female:!!85 years and over,state,county,fips
0,"Baldwin County, Alabama",223234,109192,5735,5849,8901,5219,2451,1302,623,...,3915,2754,5207,7703,6276,1621,2554,01,003,01003
1,"Calhoun County, Alabama",113605,54285,3359,3007,3617,2518,1851,434,306,...,2126,1220,2311,3226,2464,1630,962,01,015,01015
2,"Cullman County, Alabama",83768,40579,2323,2534,2846,1540,862,467,567,...,2105,433,1513,2914,1396,1322,911,01,043,01043
3,"DeKalb County, Alabama",71513,35688,1942,2752,2976,1237,1229,379,745,...,713,781,1028,1915,1589,431,835,01,049,01049
4,"Elmore County, Alabama",81209,40060,2445,3459,2390,1637,874,104,269,...,1845,584,1537,1915,1447,900,665,01,051,01051
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,"San Juan Municipio, Puerto Rico",318441,145575,6173,8087,7168,5452,4100,1503,2381,...,7103,5710,6591,9268,6697,6963,9416,72,127,72127
836,"Toa Alta Municipio, Puerto Rico",72025,34516,841,2236,2877,970,1119,455,562,...,1759,565,893,1927,554,683,1307,72,135,72135
837,"Toa Baja Municipio, Puerto Rico",74271,34594,1384,1529,2472,1346,1074,974,797,...,1327,733,1590,2421,2058,891,1050,72,137,72137
838,"Trujillo Alto Municipio, Puerto Rico",63674,28518,259,1409,2221,783,1180,327,358,...,1149,789,1760,1459,1600,1098,729,72,139,72139
839,"Maui County, Hawaii",167488,82749,4937,4900,5750,3034,1542,498,655,...,3742,3365,2433,4302,3137,1828,2167,15,009,15009