# Census Final API Extraction Script All Levels

# MSA Level Demographics

In [1]:
import pandas as pd #make API calls with python
import requests #allows us to store results of API call cleanly
import json #helps manipulate json
import csv # helps with csv files
import re #used to clean up cols at the end
import os
from bs4 import BeautifulSoup
#os.chdir("S:/Strategic Analytics/Customer_Intelligence")
# Census API Key
# Go here https://api.census.gov/data/key_signup.html?message=need-terms
apiKey = "e3a3dbad3edfa4d96cb59f65931694b311565c63"

# Here you can find a complete list of variables for the census 
    #https://api.census.gov/data.html


def GetCensusMSAAgeGroupDemographics2015():
    indicators = requests.get("https://api.census.gov/data/2015/acs/acs1?get=NAME,group(B01001)&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
    indicatorsJSON = indicators.json()
    dfAll = pd.DataFrame(indicatorsJSON)
    headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
    new_df  = pd.DataFrame(dfAll.values[1:], columns=headers) # now start at row 0 through the whole dataframe and rename the column headers the variable you just instantiated above 
    new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
    new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
    new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
    variabledf = pd.read_html('https://api.census.gov/data/2015/acs/acs5/variables.html') # Grab the table of definitions of the variable names 
    variabledf = variabledf[0] # grab the first element of the html which is the actual table
    variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
    filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
    filterRows2 =filterRows[1:51] # # exclude the MSA names  and geoid columns for the filtering of the rows
    filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
    filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
    newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the actual description of the variale name) This helps in column understanding
    newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
    newColumnNames.insert(1,'GEO_ID') # add the originoal column names back onto this list in the last position
    #newColumnNames.append('NAME') # add the originoal column names back onto this list in the last position
    newColumnNames.append('metropolitan statistical area/micropolitan statistical area')  # add the originoal column names back onto this list in the last position
    new_df4.columns = newColumnNames
    new_df4 = new_df4[['NAME', 'Estimate!!Total', 'Estimate!!Total!!Male', 'Estimate!!Total!!Male!!Under 5 years', 'Estimate!!Total!!Male!!5 to 9 years', 'Estimate!!Total!!Male!!10 to 14 years', 'Estimate!!Total!!Male!!15 to 17 years', 'Estimate!!Total!!Male!!18 and 19 years',
 'Estimate!!Total!!Male!!20 years', 'Estimate!!Total!!Male!!21 years', 'Estimate!!Total!!Male!!22 to 24 years', 'Estimate!!Total!!Male!!25 to 29 years', 'Estimate!!Total!!Male!!30 to 34 years', 'Estimate!!Total!!Male!!35 to 39 years',
 'Estimate!!Total!!Male!!40 to 44 years', 'Estimate!!Total!!Male!!45 to 49 years', 'Estimate!!Total!!Male!!50 to 54 years', 'Estimate!!Total!!Male!!55 to 59 years', 'Estimate!!Total!!Male!!60 and 61 years', 'Estimate!!Total!!Male!!62 to 64 years',
 'Estimate!!Total!!Male!!65 and 66 years', 'Estimate!!Total!!Male!!67 to 69 years', 'Estimate!!Total!!Male!!70 to 74 years', 'Estimate!!Total!!Male!!75 to 79 years', 'Estimate!!Total!!Male!!80 to 84 years', 'Estimate!!Total!!Male!!85 years and over',
 'Estimate!!Total!!Female', 'Estimate!!Total!!Female!!Under 5 years', 'Estimate!!Total!!Female!!5 to 9 years', 'Estimate!!Total!!Female!!10 to 14 years', 'Estimate!!Total!!Female!!15 to 17 years', 'Estimate!!Total!!Female!!18 and 19 years',
 'Estimate!!Total!!Female!!20 years', 'Estimate!!Total!!Female!!21 years', 'Estimate!!Total!!Female!!22 to 24 years', 'Estimate!!Total!!Female!!25 to 29 years', 'Estimate!!Total!!Female!!30 to 34 years', 'Estimate!!Total!!Female!!35 to 39 years',
 'Estimate!!Total!!Female!!40 to 44 years', 'Estimate!!Total!!Female!!45 to 49 years', 'Estimate!!Total!!Female!!50 to 54 years', 'Estimate!!Total!!Female!!55 to 59 years', 'Estimate!!Total!!Female!!60 and 61 years', 'Estimate!!Total!!Female!!62 to 64 years',
 'Estimate!!Total!!Female!!65 and 66 years', 'Estimate!!Total!!Female!!67 to 69 years', 'Estimate!!Total!!Female!!70 to 74 years', 'Estimate!!Total!!Female!!75 to 79 years', 'Estimate!!Total!!Female!!80 to 84 years', 'Estimate!!Total!!Female!!85 years and over',
 'metropolitan statistical area/micropolitan statistical area']]
    return new_df4 # Return the new dataframe 

def GetCensusMSAAgeGroupDemographics2016():
    indicators = requests.get("https://api.census.gov/data/2016/acs/acs1?get=NAME,group(B01001)&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
    indicatorsJSON = indicators.json()
    dfAll = pd.DataFrame(indicatorsJSON)
    headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
    new_df  = pd.DataFrame(dfAll.values[1:], columns=headers) # now start at row 0 through the whole dataframe and rename the column headers the variable you just instantiated above 
    new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
    new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
    new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
    vaiabledf = pd.read_html('https://api.census.gov/data/2016/acs/acs5/variables.html') # Grab the table of definitions of the variable names 
    variabledf = vaiabledf[0] # grab the first element of the html which is the actual table
    variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
    filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
    filterRows2 =filterRows[1:51] # # exclude the MSA names  and geoid columns for the filtering of the rows
    filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
    filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
    newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the actual description of the variale name) This helps in column understanding
    newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
    # # # newColumnNames.append('GEO_ID') # add the originoal column names back onto this list in the last position
    # # # newColumnNames.append('NAME') # add the originoal column names back onto this list in the last position
    newColumnNames.append('metropolitan statistical area/micropolitan statistical area')  # add the originoal column names back onto this list in the last position
    new_df4.columns = newColumnNames
    return new_df4 # Return the new dataframe 

def GetCensusMSAAgeGroupDemographics2017():
    indicators = requests.get("https://api.census.gov/data/2017/acs/acs1?get=NAME,group(B01001)&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
    indicatorsJSON = indicators.json()
    dfAll = pd.DataFrame(indicatorsJSON)
    headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
    new_df  = pd.DataFrame(dfAll.values[1:], columns=headers) # now start at row 0 through the whole dataframe and rename the column headers the variable you just instantiated above 
    new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
    new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
    new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
    new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
    variabledf = pd.read_html('https://api.census.gov/data/2017/acs/acs5/variables.html') # Grab the table of definitions of the variable names 
    variabledf = variabledf[0] # grab the first element of the html which is the actual table
    variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
    filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
    filterRows2 =filterRows[2:51] # # exclude the MSA names  and geoid columns for the filtering of the rows
    filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
    filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
    newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the actual description of the variale name) This helps in column understanding
    newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
    newColumnNames.insert(1,'GEO_ID') # add the originoal column names back onto this list in the last position
    # newColumnNames.append('NAME') # add the originoal column names back onto this list in the last position
    newColumnNames.append('metropolitan statistical area/micropolitan statistical area')  # add the originoal column names back onto this list in the last position
    new_df4.columns = newColumnNames
    new_df4 = new_df4[['NAME', 'Estimate!!Total', 'Estimate!!Total!!Male', 'Estimate!!Total!!Male!!Under 5 years', 'Estimate!!Total!!Male!!5 to 9 years', 'Estimate!!Total!!Male!!10 to 14 years', 'Estimate!!Total!!Male!!15 to 17 years', 'Estimate!!Total!!Male!!18 and 19 years',
 'Estimate!!Total!!Male!!20 years', 'Estimate!!Total!!Male!!21 years', 'Estimate!!Total!!Male!!22 to 24 years', 'Estimate!!Total!!Male!!25 to 29 years', 'Estimate!!Total!!Male!!30 to 34 years', 'Estimate!!Total!!Male!!35 to 39 years',
 'Estimate!!Total!!Male!!40 to 44 years', 'Estimate!!Total!!Male!!45 to 49 years', 'Estimate!!Total!!Male!!50 to 54 years', 'Estimate!!Total!!Male!!55 to 59 years', 'Estimate!!Total!!Male!!60 and 61 years', 'Estimate!!Total!!Male!!62 to 64 years',
 'Estimate!!Total!!Male!!65 and 66 years', 'Estimate!!Total!!Male!!67 to 69 years', 'Estimate!!Total!!Male!!70 to 74 years', 'Estimate!!Total!!Male!!75 to 79 years', 'Estimate!!Total!!Male!!80 to 84 years', 'Estimate!!Total!!Male!!85 years and over',
 'Estimate!!Total!!Female', 'Estimate!!Total!!Female!!Under 5 years', 'Estimate!!Total!!Female!!5 to 9 years', 'Estimate!!Total!!Female!!10 to 14 years', 'Estimate!!Total!!Female!!15 to 17 years', 'Estimate!!Total!!Female!!18 and 19 years',
 'Estimate!!Total!!Female!!20 years', 'Estimate!!Total!!Female!!21 years', 'Estimate!!Total!!Female!!22 to 24 years', 'Estimate!!Total!!Female!!25 to 29 years', 'Estimate!!Total!!Female!!30 to 34 years', 'Estimate!!Total!!Female!!35 to 39 years',
 'Estimate!!Total!!Female!!40 to 44 years', 'Estimate!!Total!!Female!!45 to 49 years', 'Estimate!!Total!!Female!!50 to 54 years', 'Estimate!!Total!!Female!!55 to 59 years', 'Estimate!!Total!!Female!!60 and 61 years', 'Estimate!!Total!!Female!!62 to 64 years',
 'Estimate!!Total!!Female!!65 and 66 years', 'Estimate!!Total!!Female!!67 to 69 years', 'Estimate!!Total!!Female!!70 to 74 years', 'Estimate!!Total!!Female!!75 to 79 years', 'Estimate!!Total!!Female!!80 to 84 years', 'Estimate!!Total!!Female!!85 years and over',
 'metropolitan statistical area/micropolitan statistical area']]
    return new_df4 # Return the new dataframe 

def GetCensusMSAAgeGroupDemographics2018():
    indicators = requests.get("https://api.census.gov/data/2018/acs/acs1?get=NAME,group(B01001)&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
    indicatorsJSON = indicators.json()
    dfAll = pd.DataFrame(indicatorsJSON)
    headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
    new_df  = pd.DataFrame(dfAll.values[1:], columns=headers) # now start at row 0 through the whole dataframe and rename the column headers the variable you just instantiated above 
    new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
    new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
    new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
    new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
    variabledf = pd.read_html('https://api.census.gov/data/2018/acs/acs5/variables.html') # Grab the table of definitions of the variable names 
    variabledf = variabledf[0] # grab the first element of the html which is the actual table
    variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
    filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
    filterRows2 =filterRows[2:51] # # exclude the MSA names  and geoid columns for the filtering of the rows
    filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
    filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
    newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the actual description of the variale name) This helps in column understanding
    newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
    newColumnNames.insert(1,'GEO_ID') # add the originoal column names back onto this list in the last position
    # #newColumnNames.append('NAME') # add the originoal column names back onto this list in the last position
    newColumnNames.append('metropolitan statistical area/micropolitan statistical area')  # add the originoal column names back onto this list in the last position
    new_df4.columns = newColumnNames
    new_df4 = new_df4[['NAME', 'Estimate!!Total', 'Estimate!!Total!!Male', 'Estimate!!Total!!Male!!Under 5 years', 'Estimate!!Total!!Male!!5 to 9 years', 'Estimate!!Total!!Male!!10 to 14 years', 'Estimate!!Total!!Male!!15 to 17 years', 'Estimate!!Total!!Male!!18 and 19 years',
 'Estimate!!Total!!Male!!20 years', 'Estimate!!Total!!Male!!21 years', 'Estimate!!Total!!Male!!22 to 24 years', 'Estimate!!Total!!Male!!25 to 29 years', 'Estimate!!Total!!Male!!30 to 34 years', 'Estimate!!Total!!Male!!35 to 39 years',
 'Estimate!!Total!!Male!!40 to 44 years', 'Estimate!!Total!!Male!!45 to 49 years', 'Estimate!!Total!!Male!!50 to 54 years', 'Estimate!!Total!!Male!!55 to 59 years', 'Estimate!!Total!!Male!!60 and 61 years', 'Estimate!!Total!!Male!!62 to 64 years',
 'Estimate!!Total!!Male!!65 and 66 years', 'Estimate!!Total!!Male!!67 to 69 years', 'Estimate!!Total!!Male!!70 to 74 years', 'Estimate!!Total!!Male!!75 to 79 years', 'Estimate!!Total!!Male!!80 to 84 years', 'Estimate!!Total!!Male!!85 years and over',
 'Estimate!!Total!!Female', 'Estimate!!Total!!Female!!Under 5 years', 'Estimate!!Total!!Female!!5 to 9 years', 'Estimate!!Total!!Female!!10 to 14 years', 'Estimate!!Total!!Female!!15 to 17 years', 'Estimate!!Total!!Female!!18 and 19 years',
 'Estimate!!Total!!Female!!20 years', 'Estimate!!Total!!Female!!21 years', 'Estimate!!Total!!Female!!22 to 24 years', 'Estimate!!Total!!Female!!25 to 29 years', 'Estimate!!Total!!Female!!30 to 34 years', 'Estimate!!Total!!Female!!35 to 39 years',
 'Estimate!!Total!!Female!!40 to 44 years', 'Estimate!!Total!!Female!!45 to 49 years', 'Estimate!!Total!!Female!!50 to 54 years', 'Estimate!!Total!!Female!!55 to 59 years', 'Estimate!!Total!!Female!!60 and 61 years', 'Estimate!!Total!!Female!!62 to 64 years',
 'Estimate!!Total!!Female!!65 and 66 years', 'Estimate!!Total!!Female!!67 to 69 years', 'Estimate!!Total!!Female!!70 to 74 years', 'Estimate!!Total!!Female!!75 to 79 years', 'Estimate!!Total!!Female!!80 to 84 years', 'Estimate!!Total!!Female!!85 years and over',
 'metropolitan statistical area/micropolitan statistical area']]
    return new_df4 # Return the new dataframe 

def GetCensusMSAAgeGroupDemographics2019():
    indicators = requests.get("https://api.census.gov/data/2019/acs/acs1?get=NAME,group(B01001)&for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
    indicatorsJSON = indicators.json()
    dfAll = pd.DataFrame(indicatorsJSON)
    headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
    new_df  = pd.DataFrame(dfAll.values[1:], columns=headers) # now start at row 0 through the whole dataframe and rename the column headers the variable you just instantiated above 
    new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
    new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
    new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
    new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
    
    new_df4 = new_df4[[
"NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E", "B01001_007E", "B01001_008E",
 "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E", "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E",
 "B01001_017E", "B01001_018E", "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
 "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E", "B01001_031E", "B01001_032E",
 "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E", "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E",
 "B01001_041E", "B01001_042E", "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
 "B01001_049E", "metropolitan statistical area/micropolitan statistical area"]]

    variabledf = pd.read_html('https://api.census.gov/data/2019/acs/acs5/variables.html') # Grab the table of definitions of the variable names 
    variabledf = variabledf[0] # grab the first element of the html which is the actual table
    variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
    filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
    filterRows2 =filterRows[1:50] # # exclude the MSA names  and geoid columns for the filtering of the rows
    filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
    filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
    newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the actual description of the variale name) This helps in column understanding
    newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
    newColumnNames.append('metropolitan statistical area/micropolitan statistical area')  # add the originoal column names back onto this list in the last position
    new_df4.columns = newColumnNames # Replace the col
    return new_df4 # Return the new dataframe 


demographicsMSA2019 = GetCensusMSAAgeGroupDemographics2019()
demographicsMSA2018 = GetCensusMSAAgeGroupDemographics2018() # good 
demographicsMSA2017 = GetCensusMSAAgeGroupDemographics2017() # good 
demographicsMSA2016 = GetCensusMSAAgeGroupDemographics2016() # Good name naem 
demographicsMSA2015 = GetCensusMSAAgeGroupDemographics2015() # good 


demographicsMSA2019['Year'] = 2019
demographicsMSA2018['Year'] = 2018
demographicsMSA2017['Year'] = 2017
demographicsMSA2016['Year'] = 2016
demographicsMSA2015['Year'] = 2015

demographicsMSA2019 = demographicsMSA2019.loc[:,~demographicsMSA2019.columns.duplicated()]
demographicsMSA2018 = demographicsMSA2018.loc[:,~demographicsMSA2018.columns.duplicated()]
demographicsMSA2017 = demographicsMSA2017.loc[:,~demographicsMSA2017.columns.duplicated()]
demographicsMSA2016 = demographicsMSA2016.loc[:,~demographicsMSA2016.columns.duplicated()]
demographicsMSA2015 = demographicsMSA2015.loc[:,~demographicsMSA2015.columns.duplicated()]

#clean up the names (this also removes a few differences with the column names that was causing issues w concatenation)
def colname_cleanup(data):
    data_new = data.copy() #copy into a new pandas dataframe so that it's easier to test
    colnames = data_new.columns.values.tolist()
    colnames = [col.replace(":","") for col in colnames]
    colnames = [col.replace("Estimate!!Total!!","") for col in colnames]
    colnames = [col.replace("!!"," ") for col in colnames]
    colnames = [col.replace("Estimate!!Total:","Population Total") for col in colnames]
    colnames = [col.replace("NAME","MSA Name") for col in colnames]
    colnames = [col.replace("metropolitan statistical area/micropolitan statistical area","MSA Code") for col in colnames]
    colnames = ["Population " + col if "male" in col.lower() else col for col in colnames]
    data_new.columns = colnames
    return data_new


#need to see whats different for the different df's
demographicsMSA2019_f = colname_cleanup(demographicsMSA2019)
demographicsMSA2018_f = colname_cleanup(demographicsMSA2018)
demographicsMSA2017_f = colname_cleanup(demographicsMSA2017)
demographicsMSA2016_f = colname_cleanup(demographicsMSA2016)
demographicsMSA2015_f = colname_cleanup(demographicsMSA2015)

#make the final data
final_data = ( demographicsMSA2015_f.append(demographicsMSA2016_f).append(demographicsMSA2017_f).
              append(demographicsMSA2018_f).append(demographicsMSA2019_f) )

#write to an excel file (reads into PBI slightly better)
final_data.to_csv("Final_MSA_Demographics.csv")

In [2]:
final_data.head()

,MSA Name,Estimate Total,Population Male,Population Male Under 5 years,Population Male 5 to 9 years,Population Male 10 to 14 years,Population Male 15 to 17 years,Population Male 18 and 19 years,Population Male 20 years,Population Male 21 years,...,Population Female 60 and 61 years,Population Female 62 to 64 years,Population Female 65 and 66 years,Population Female 67 to 69 years,Population Female 70 to 74 years,Population Female 75 to 79 years,Population Female 80 to 84 years,Population Female 85 years and over,MSA Code,Year
0,"Aberdeen, WA Micro Area",71122,36792,1861,2673,1641,1625,908,1160,518,...,1118,1928,1463,1143,1610,662,640,1575,10140,2015
1,"Adrian, MI Micro Area",98573,49456,2947,2985,3085,2020,1576,606,954,...,1168,2686,1327,1959,2002,1549,1099,1718,10300,2015
2,"Akron, OH Metro Area",704243,341841,19246,19286,22841,13960,10194,4934,5449,...,9829,15044,9912,12127,12789,9965,8188,11737,10420,2015
3,"Alamogordo, NM Micro Area",64362,32532,2104,2574,1689,758,1094,424,1046,...,912,1192,402,1595,1125,1226,495,745,10460,2015
4,"Albany, OR Metro Area",120547,59386,3717,3909,3878,2509,1490,636,396,...,1723,2185,1794,2680,2005,2019,1496,1500,10540,2015

# Census County Data

In [3]:
def countyextraction2019():
    #https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_001E&for=county%*:*&in=state:*
    indicators = requests.get("https://api.census.gov/data/2019/acs/acs1?get=NAME,group(B01001)&for=county:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
    indicatorsAllJSON = indicators.json()
    dfAll = pd.DataFrame(indicatorsAllJSON)
    headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
    new_df  = pd.DataFrame(dfAll.values[1:], columns=headers) # now start at row 0 through the whole dataframe and rename the column headers the variable you just instantiated above 
    new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
    new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
    new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
    new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
    new_df4 = new_df4[[
    "NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E", "B01001_007E", "B01001_008E",
     "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E", "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E",
     "B01001_017E", "B01001_018E", "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
     "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E", "B01001_031E", "B01001_032E",
     "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E", "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E",
     "B01001_041E", "B01001_042E", "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
     "B01001_049E", "state","county"]]
    new_df4['fips'] = new_df4['state'].astype(str) + new_df4['county'].astype(str)
    variabledf = pd.read_html('https://api.census.gov/data/2019/acs/acs5/variables.html')
    variabledf = variabledf[0] # grab the first element of the html which is the actual table
    variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
    filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
    filterRows2 =filterRows[1:50] # # exclude the MSA names  and geoid columns for the filtering of the rows
    filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
    filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
    newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the 
    newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
    newColumnNames.append('state') # add the originoal column names back onto this list in the last position
    newColumnNames.append('county') # add the originoal column names back onto this list in the last position
    newColumnNames.append('fips')  # add the originoal column names back onto this list 
    new_df4.columns = newColumnNames # Replace th
    return new_df4



def countyextraction2018():
    #https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_001E&for=county%*:*&in=state:*
    indicators = requests.get("https://api.census.gov/data/2018/acs/acs1?get=NAME,group(B01001)&for=county:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
    indicatorsAllJSON = indicators.json()
    dfAll = pd.DataFrame(indicatorsAllJSON)
    headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
    new_df  = pd.DataFrame(dfAll.values[1:], columns=headers) # now start at row 0 through the whole dataframe and rename the column headers the variable you just instantiated above 
    new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
    new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
    new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
    new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
    new_df4 = new_df4[[
    "NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E", "B01001_007E", "B01001_008E",
     "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E", "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E",
     "B01001_017E", "B01001_018E", "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
     "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E", "B01001_031E", "B01001_032E",
     "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E", "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E",
     "B01001_041E", "B01001_042E", "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
     "B01001_049E", "state","county"]]
    new_df4['fips'] = new_df4['state'].astype(str) + new_df4['county'].astype(str)
    variabledf = pd.read_html('https://api.census.gov/data/2018/acs/acs5/variables.html')
    variabledf = variabledf[0] # grab the first element of the html which is the actual table
    variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
    filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
    filterRows2 =filterRows[1:50] # # exclude the MSA names  and geoid columns for the filtering of the rows
    filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
    filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
    newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the 
    newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
    newColumnNames.append('state') # add the originoal column names back onto this list in the last position
    newColumnNames.append('county') # add the originoal column names back onto this list in the last position
    newColumnNames.append('fips')  # add the originoal column names back onto this list 
    new_df4.columns = newColumnNames # Replace th
    return new_df4


def countyextraction2017():
    #https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_001E&for=county%*:*&in=state:*
    indicators = requests.get("https://api.census.gov/data/2017/acs/acs1?get=NAME,group(B01001)&for=county:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
    indicatorsAllJSON = indicators.json()
    dfAll = pd.DataFrame(indicatorsAllJSON)
    headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
    new_df  = pd.DataFrame(dfAll.values[1:], columns=headers) # now start at row 0 through the whole dataframe and rename the column headers the variable you just instantiated above 
    new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
    new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
    new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
    new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
    new_df4 = new_df4[[
    "NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E", "B01001_007E", "B01001_008E",
     "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E", "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E",
     "B01001_017E", "B01001_018E", "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
     "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E", "B01001_031E", "B01001_032E",
     "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E", "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E",
     "B01001_041E", "B01001_042E", "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
     "B01001_049E", "state","county"]]
    new_df4['fips'] = new_df4['state'].astype(str) + new_df4['county'].astype(str)
    variabledf = pd.read_html('https://api.census.gov/data/2017/acs/acs5/variables.html')
    variabledf = variabledf[0] # grab the first element of the html which is the actual table
    variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
    filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
    filterRows2 =filterRows[1:50] # # exclude the MSA names  and geoid columns for the filtering of the rows
    filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
    filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
    newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the 
    newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
    newColumnNames.append('state') # add the originoal column names back onto this list in the last position
    newColumnNames.append('county') # add the originoal column names back onto this list in the last position
    newColumnNames.append('fips')  # add the originoal column names back onto this list 
    new_df4.columns = newColumnNames # Replace th
    return new_df4


def countyextraction2016():
    #https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_001E&for=county%*:*&in=state:*
    indicators = requests.get("https://api.census.gov/data/2016/acs/acs1?get=NAME,group(B01001)&for=county:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
    indicatorsAllJSON = indicators.json()
    dfAll = pd.DataFrame(indicatorsAllJSON)
    headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
    new_df  = pd.DataFrame(dfAll.values[1:], columns=headers) # now start at row 0 through the whole dataframe and rename the column headers the variable you just instantiated above 
    new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
    new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
    new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
    new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
    new_df4 = new_df4[[
    "NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E", "B01001_007E", "B01001_008E",
     "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E", "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E",
     "B01001_017E", "B01001_018E", "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
     "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E", "B01001_031E", "B01001_032E",
     "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E", "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E",
     "B01001_041E", "B01001_042E", "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
     "B01001_049E", "state","county"]]
    new_df4['fips'] = new_df4['state'].astype(str) + new_df4['county'].astype(str)
    variabledf = pd.read_html('https://api.census.gov/data/2016/acs/acs5/variables.html')
    variabledf = variabledf[0] # grab the first element of the html which is the actual table
    variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
    filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
    filterRows2 =filterRows[1:50] # # exclude the MSA names  and geoid columns for the filtering of the rows
    filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
    filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
    newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the 
    newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
    newColumnNames.append('state') # add the originoal column names back onto this list in the last position
    newColumnNames.append('county') # add the originoal column names back onto this list in the last position
    newColumnNames.append('fips')  # add the originoal column names back onto this list 
    new_df4.columns = newColumnNames # Replace th
    return new_df4



def countyextraction2015():
    #https://api.census.gov/data/2019/acs/acs1?get=NAME,B01001_001E&for=county%*:*&in=state:*
    indicators = requests.get("https://api.census.gov/data/2015/acs/acs1?get=NAME,group(B01001)&for=county:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
    indicatorsAllJSON = indicators.json()
    dfAll = pd.DataFrame(indicatorsAllJSON)
    headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
    new_df  = pd.DataFrame(dfAll.values[1:], columns=headers) # now start at row 0 through the whole dataframe and rename the column headers the variable you just instantiated above 
    new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
    new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
    new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
    new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
    new_df4 = new_df4[[
    "NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E", "B01001_007E", "B01001_008E",
     "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E", "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E",
     "B01001_017E", "B01001_018E", "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
     "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E", "B01001_031E", "B01001_032E",
     "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E", "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E",
     "B01001_041E", "B01001_042E", "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
     "B01001_049E", "state","county"]]
    new_df4['fips'] = new_df4['state'].astype(str) + new_df4['county'].astype(str)
    variabledf = pd.read_html('https://api.census.gov/data/2015/acs/acs5/variables.html')
    variabledf = variabledf[0] # grab the first element of the html which is the actual table
    variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
    filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
    filterRows2 =filterRows[1:50] # # exclude the MSA names  and geoid columns for the filtering of the rows
    filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
    filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
    newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the 
    newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
    newColumnNames.append('state') # add the originoal column names back onto this list in the last position
    newColumnNames.append('county') # add the originoal column names back onto this list in the last position
    newColumnNames.append('fips')  # add the originoal column names back onto this list 
    new_df4.columns = newColumnNames # Replace th
    return new_df4



countyextraction2015 = countyextraction2015()
countyextraction2016 = countyextraction2016() # good 
countyextraction2017 = countyextraction2017() # good 
countyextraction2018 = countyextraction2018() # Good name naem 
countyextraction2019 = countyextraction2019() # good 


countyextraction2015['Year'] = 2015
countyextraction2016['Year'] = 2016
countyextraction2017['Year'] = 2017
countyextraction2018['Year'] = 2018
countyextraction2019['Year'] = 2019

countyextraction2015 = countyextraction2015.loc[:,~countyextraction2015.columns.duplicated()]
countyextraction2016 = countyextraction2016.loc[:,~countyextraction2016.columns.duplicated()]
countyextraction2017 = countyextraction2017.loc[:,~countyextraction2017.columns.duplicated()]
countyextraction2018 = countyextraction2018.loc[:,~countyextraction2018.columns.duplicated()]
countyextraction2019 = countyextraction2019.loc[:,~countyextraction2019.columns.duplicated()]

#clean up the names (this also removes a few differences with the column names that was causing issues w concatenation)
def colname_cleanup(data):
    data_new = data.copy() #copy into a new pandas dataframe so that it's easier to test
    colnames = data_new.columns.values.tolist()
    colnames = [col.replace(":","") for col in colnames]
    colnames = [col.replace("Estimate!!Total!!","") for col in colnames]
    colnames = [col.replace("!!"," ") for col in colnames]
    colnames = [col.replace("Estimate!!Total:","Population Total") for col in colnames]
    colnames = [col.replace("NAME","MSA Name") for col in colnames]
    colnames = [col.replace("metropolitan statistical area/micropolitan statistical area","MSA_Code") for col in colnames]
    colnames = ["Population " + col if "male" in col.lower() else col for col in colnames]
    data_new.columns = colnames
    return data_new


#need to see whats different for the different df's
countyextraction2015_f = colname_cleanup(countyextraction2015)
countyextraction2016_f = colname_cleanup(countyextraction2016)
countyextraction2017_f = colname_cleanup(countyextraction2017)
countyextraction2018_f = colname_cleanup(countyextraction2018)
countyextraction2019_f = colname_cleanup(countyextraction2019)

#make the final data
final_data = ( countyextraction2015_f.append(countyextraction2016_f).append(countyextraction2017_f).
              append(countyextraction2018_f).append(countyextraction2019_f) )

final_data.columns = final_data.columns.str.replace(' ', '_') 

final_data.to_csv("Final_County_Demographics.csv")

In [4]:
final_data.head()

,MSA_Name,Estimate_Total,Population_Male,Population_Male_Under_5_years,Population_Male_5_to_9_years,Population_Male_10_to_14_years,Population_Male_15_to_17_years,Population_Male_18_and_19_years,Population_Male_20_years,Population_Male_21_years,...,Population_Female_65_and_66_years,Population_Female_67_to_69_years,Population_Female_70_to_74_years,Population_Female_75_to_79_years,Population_Female_80_to_84_years,Population_Female_85_years_and_over,state,county,fips,Year
0,"Martin County, Florida",156283,76619,3089,3074,4314,2617,2529,876,822,...,2205,3570,6195,3801,3807,5468,12,085,12085,2019
1,"Miami-Dade County, Florida",2693117,1305293,80642,75669,78090,48589,31500,17561,17640,...,27188,37663,60103,45062,37354,38426,12,086,12086,2019
2,"Monroe County, Florida",77482,40676,1759,1573,1685,1048,927,169,309,...,1119,1638,1904,1093,1034,830,12,087,12087,2019
3,"Nassau County, Florida",78444,38819,2130,2491,2196,1820,641,752,42,...,890,2094,2368,1466,1141,603,12,089,12089,2019
4,"Okaloosa County, Florida",198664,101303,7170,6663,5370,3480,2606,2374,877,...,2124,3100,4069,3229,2029,2200,12,091,12091,2019

# Zipcode

In [27]:
def zctaextraction2019():
    indicators = requests.get("https://api.census.gov/data/2019/acs/acs5?get=NAME,group(B01001)&for=zip%20code%20tabulation%20area:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
    indicatorsAllJSON = indicators.json()
    dfAll = pd.DataFrame(indicatorsAllJSON)
    headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
    new_df  = pd.DataFrame(dfAll.values[1:], columns=headers)
    new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
    new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
    new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
    new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
    new_df4 = new_df4[[
        "NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E", "B01001_007E", "B01001_008E",
         "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E", "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E",
         "B01001_017E", "B01001_018E", "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
         "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E", "B01001_031E", "B01001_032E",
         "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E", "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E",
         "B01001_041E", "B01001_042E", "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
         "B01001_049E", "state","zip code tabulation area"]]
    variabledf = pd.read_html('https://api.census.gov/data/2019/acs/acs5/variables.html')
    variabledf = variabledf[0] # grab the first element of the html which is the actual table
    variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
    filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
    filterRows2 =filterRows[1:50] # # exclude the MSA names  and geoid columns for the filtering of the rows
    filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
    filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
    newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the 
    newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
    newColumnNames.append('state') # add the originoal column names back onto this list in the last position
    newColumnNames.append('zip code tabulation area')  # add the originoal column names back onto this list 
    new_df4.columns = newColumnNames # Replace th
    return new_df4

# NOT ALL YEARS HAVE A STATE COLUMN FOR NOW JUST USE 2019

# def zctaextraction2018():
#     indicators = requests.get("https://api.census.gov/data/2018/acs/acs5?get=NAME,group(B01001)&for=zip%20code%20tabulation%20area:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
#     indicatorsAllJSON = indicators.json()
#     dfAll = pd.DataFrame(indicatorsAllJSON)
#     headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
#     new_df  = pd.DataFrame(dfAll.values[1:], columns=headers)
#     new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
#     new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
#     new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
#     new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
#     new_df4 = new_df4[[
#         "NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E", "B01001_007E", "B01001_008E",
#          "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E", "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E",
#          "B01001_017E", "B01001_018E", "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
#          "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E", "B01001_031E", "B01001_032E",
#          "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E", "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E",
#          "B01001_041E", "B01001_042E", "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
#          "B01001_049E", "state","zip code tabulation area"]]
#     variabledf = pd.read_html('https://api.census.gov/data/2018/acs/acs5/variables.html')
#     variabledf = variabledf[0] # grab the first element of the html which is the actual table
#     variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
#     filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
#     filterRows2 =filterRows[1:50] # # exclude the MSA names  and geoid columns for the filtering of the rows
#     filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
#     filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
#     newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the 
#     newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
#     newColumnNames.append('state') # add the originoal column names back onto this list in the last position
#     newColumnNames.append('zip code tabulation area')  # add the originoal column names back onto this list 
#     new_df4.columns = newColumnNames # Replace th
#     return new_df4

# def zctaextraction2017():
#     indicators = requests.get("https://api.census.gov/data/2017/acs/acs5?get=NAME,group(B01001)&for=zip%20code%20tabulation%20area:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
#     indicatorsAllJSON = indicators.json()
#     dfAll = pd.DataFrame(indicatorsAllJSON)
#     headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
#     new_df  = pd.DataFrame(dfAll.values[1:], columns=headers)
#     new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
#     new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
#     new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
#     new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
#     new_df4 = new_df4[[
#         "NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E", "B01001_007E", "B01001_008E",
#          "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E", "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E",
#          "B01001_017E", "B01001_018E", "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
#          "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E", "B01001_031E", "B01001_032E",
#          "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E", "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E",
#          "B01001_041E", "B01001_042E", "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
#          "B01001_049E", "state","zip code tabulation area"]]
#     variabledf = pd.read_html('https://api.census.gov/data/2017/acs/acs5/variables.html')
#     variabledf = variabledf[0] # grab the first element of the html which is the actual table
#     variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
#     filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
#     filterRows2 =filterRows[1:50] # # exclude the MSA names  and geoid columns for the filtering of the rows
#     filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
#     filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
#     newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the 
#     newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
#     newColumnNames.append('state') # add the originoal column names back onto this list in the last position
#     newColumnNames.append('zip code tabulation area')  # add the originoal column names back onto this list 
#     new_df4.columns = newColumnNames # Replace th
#     return new_df4

# def zctaextraction2016():
#     indicators = requests.get("https://api.census.gov/data/2016/acs/acs5?get=NAME,group(B01001)&for=zip%20code%20tabulation%20area:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
#     indicatorsAllJSON = indicators.json()
#     dfAll = pd.DataFrame(indicatorsAllJSON)
#     headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
#     new_df  = pd.DataFrame(dfAll.values[1:], columns=headers)
#     new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
#     new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
#     new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
#     new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
#     new_df4 = new_df4[[
#         "NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E", "B01001_007E", "B01001_008E",
#          "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E", "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E",
#          "B01001_017E", "B01001_018E", "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
#          "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E", "B01001_031E", "B01001_032E",
#          "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E", "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E",
#          "B01001_041E", "B01001_042E", "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
#          "B01001_049E", "state","zip code tabulation area"]]
#     variabledf = pd.read_html('https://api.census.gov/data/2016/acs/acs5/variables.html')
#     variabledf = variabledf[0] # grab the first element of the html which is the actual table
#     variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
#     filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
#     filterRows2 =filterRows[1:50] # # exclude the MSA names  and geoid columns for the filtering of the rows
#     filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
#     filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
#     newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the 
#     newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
#     newColumnNames.append('state') # add the originoal column names back onto this list in the last position
#     newColumnNames.append('zip code tabulation area')  # add the originoal column names back onto this list 
#     new_df4.columns = newColumnNames # Replace th
#     return new_df4

# def zctaextraction2015():
#     indicators = requests.get("https://api.census.gov/data/2015/acs/acs5?get=NAME,group(B01001)&for=zip%20code%20tabulation%20area:*&key=e3a3dbad3edfa4d96cb59f65931694b311565c63")
#     indicatorsAllJSON = indicators.json()
#     dfAll = pd.DataFrame(indicatorsAllJSON)
#     headers = dfAll.iloc[0] # Get the column headers in the first row at index position 0 to make them column names
#     new_df  = pd.DataFrame(dfAll.values[1:], columns=headers)
#     new_df2 = new_df.loc[:, ~new_df.columns.str.endswith('EA')] # remove columns with names that end with EA
#     new_df3 = new_df2.loc[:, ~new_df2.columns.str.endswith('MA')] # remove columns with names that end with MA
#     new_df4 = new_df3.loc[:, ~new_df3.columns.str.endswith('M')] # remove columns with names that end with M
#     new_df4 = new_df4.loc[:,~new_df4.columns.duplicated()]
#     new_df4 = new_df4[[
#         "NAME", "B01001_001E", "B01001_002E", "B01001_003E", "B01001_004E", "B01001_005E", "B01001_006E", "B01001_007E", "B01001_008E",
#          "B01001_009E", "B01001_010E", "B01001_011E", "B01001_012E", "B01001_013E", "B01001_014E", "B01001_015E", "B01001_016E",
#          "B01001_017E", "B01001_018E", "B01001_019E", "B01001_020E", "B01001_021E", "B01001_022E", "B01001_023E", "B01001_024E",
#          "B01001_025E", "B01001_026E", "B01001_027E", "B01001_028E", "B01001_029E", "B01001_030E", "B01001_031E", "B01001_032E",
#          "B01001_033E", "B01001_034E", "B01001_035E", "B01001_036E", "B01001_037E", "B01001_038E", "B01001_039E", "B01001_040E",
#          "B01001_041E", "B01001_042E", "B01001_043E", "B01001_044E", "B01001_045E", "B01001_046E", "B01001_047E", "B01001_048E",
#          "B01001_049E", "state","zip code tabulation area"]]
#     variabledf = pd.read_html('https://api.census.gov/data/2015/acs/acs5/variables.html')
#     variabledf = variabledf[0] # grab the first element of the html which is the actual table
#     variablenamedf = pd.DataFrame(variabledf) # make it into a dataframe 
#     filterRows = list(new_df4.columns) # take theMSA data and get the column names (AKA variable names) to filter rows in the variable definitions table
#     filterRows2 =filterRows[1:50] # # exclude the MSA names  and geoid columns for the filtering of the rows
#     filteredvariabledf = variablenamedf.Name.isin(filterRows2) # filter the rows of the variable name table with the msa column names
#     filtered_df = variablenamedf[filteredvariabledf] # return a new filtered dataframe
#     newColumnNames = list(filtered_df.Label) # Get the second column of the newly filtered variable definitions table (the 
#     newColumnNames.insert(0,'NAME') # add the originoal column names back onto this list in the first position
#     newColumnNames.append('state') # add the originoal column names back onto this list in the last position
#     newColumnNames.append('zip code tabulation area')  # add the originoal column names back onto this list 
#     new_df4.columns = newColumnNames # Replace th
#     return new_df4

In [ ]:
# zctaextraction2015 = zctaextraction2015()
# zctaextraction2016 = zctaextraction2016() # good 
# zctaextraction2017 = zctaextraction2017() # good 
# zctaextraction2018 = zctaextraction2018() # Good name naem 
zctaextraction2019 = zctaextraction2019() # good 


zctaextraction2019['Year'] = 2019
# zctaextraction2018['Year'] = 2018
# zctaextraction2017['Year'] = 2017
# zctaextraction2016['Year'] = 2016
#zctaextraction2015['Year'] = 2015

# zctaextraction2015 = zctaextraction2015.loc[:,~zctaextraction2015.columns.duplicated()]
# zctaextraction2016 = zctaextraction2016.loc[:,~zctaextraction2016.columns.duplicated()]
# zctaextraction2017 = zctaextraction2017.loc[:,~zctaextraction2017.columns.duplicated()]
# zctaextraction2018 = zctaextraction2018.loc[:,~zctaextraction2018.columns.duplicated()]
zctaextraction2019 = zctaextraction2019.loc[:,~zctaextraction2019.columns.duplicated()]

#clean up the names (this also removes a few differences with the column names that was causing issues w concatenation)
def colname_cleanup(data):
    data_new = data.copy() #copy into a new pandas dataframe so that it's easier to test
    colnames = data_new.columns.values.tolist()
    colnames = [col.replace(":","") for col in colnames]
    colnames = [col.replace("Estimate!!Total!!","") for col in colnames]
    colnames = [col.replace("!!"," ") for col in colnames]
    colnames = [col.replace("Estimate!!Total:","Population Total") for col in colnames]
    colnames = [col.replace("NAME","MSA Name") for col in colnames]
    colnames = [col.replace("metropolitan statistical area/micropolitan statistical area","MSA_Code") for col in colnames]
    colnames = ["Population " + col if "male" in col.lower() else col for col in colnames]
    data_new.columns = colnames
    return data_new


#need to see whats different for the different df's
#zctaextraction2015_f = colname_cleanup(zctaextraction2015)
# zctaextraction2016_f = colname_cleanup(zctaextraction2016)
# zctaextraction2017_f = colname_cleanup(zctaextraction2017)
# zctaextraction2018_f = colname_cleanup(zctaextraction2018)
zctaextraction2019_f = colname_cleanup(zctaextraction2019)

#make the final data
final_data = ( zctaextraction2015_f.append(zctaextraction2016_f).append(zctaextraction2017_f).
              append(zctaextraction2018_f).append(zctaextraction2019_f) )

final_data.columns = final_data.columns.str.replace(' ', '_') 

final_data.to_csv("Final_Zcta_Demographics.csv")